In [1]:
import pandas as pd

In [26]:
df = pd.read_excel('data/pop_historique.xlsx')
df.columns = df.iloc[4]
df = df[5:]
df

4,CODGEO,REG,DEP,LIBGEO,PMUN2021,PMUN2020,PMUN2019,PMUN2018,PMUN2017,PMUN2016,...,PTOT1926,PTOT1921,PTOT1911,PTOT1906,PTOT1901,PTOT1896,PTOT1891,PTOT1886,PTOT1881,PTOT1876
5,01001,84,01,L'Abergement-Clémenciat,832,806,779,771,776,767,...,543,566,560,629,637,572,594,622,605,604
6,01002,84,01,L'Abergement-de-Varey,267,262,256,253,248,243,...,253,256,291,323,357,391,421,486,490,484
7,01004,84,01,Ambérieu-en-Bugey,14854,14288,14134,14204,14035,14081,...,5705,4796,4334,4100,4023,3548,3635,3618,3396,3427
8,01005,84,01,Ambérieux-en-Dombes,1897,1782,1751,1720,1689,1671,...,690,698,805,805,835,852,862,882,879,848
9,01006,84,01,Ambléon,113,113,112,112,111,110,...,161,150,159,193,200,206,200,200,213,191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34947,97420,04,974,Sainte-Suzanne,24293,24086,24065,23718,23505,23224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34948,97421,04,974,Salazie,7243,7310,7136,7224,7312,7400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34949,97422,04,974,Le Tampon,81943,80778,79824,79385,78629,77283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34950,97423,04,974,Les Trois-Bassins,6899,6953,7015,7076,7139,7111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34951,97424,04,974,Cilaos,5390,5568,5538,5492,5456,5403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.to_csv('data/pop_historique.csv', index=False)

In [1]:
import pandas as pd
df = pd.read_csv('data/pop_historique.csv')

/tmp/ipykernel_144308/899147083.py:2: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/pop_historique.csv')

In [5]:
# convert all columns dtype which are float64 to int64
columns_to_convert = [col for col in df.columns if df[col].dtype == 'float64']
df[columns_to_convert] = df[columns_to_convert].fillna(0).astype('int64')
df

,CODGEO,REG,DEP,LIBGEO,PMUN2021,PMUN2020,PMUN2019,PMUN2018,PMUN2017,PMUN2016,...,PTOT1926,PTOT1921,PTOT1911,PTOT1906,PTOT1901,PTOT1896,PTOT1891,PTOT1886,PTOT1881,PTOT1876
0,01001,84,01,L'Abergement-Clémenciat,832,806,779,771,776,767,...,543,566,560,629,637,572,594,622,605,604
1,01002,84,01,L'Abergement-de-Varey,267,262,256,253,248,243,...,253,256,291,323,357,391,421,486,490,484
2,01004,84,01,Ambérieu-en-Bugey,14854,14288,14134,14204,14035,14081,...,5705,4796,4334,4100,4023,3548,3635,3618,3396,3427
3,01005,84,01,Ambérieux-en-Dombes,1897,1782,1751,1720,1689,1671,...,690,698,805,805,835,852,862,882,879,848
4,01006,84,01,Ambléon,113,113,112,112,111,110,...,161,150,159,193,200,206,200,200,213,191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34942,97420,4,974,Sainte-Suzanne,24293,24086,24065,23718,23505,23224,...,0,0,0,0,0,0,0,0,0,0
34943,97421,4,974,Salazie,7243,7310,7136,7224,7312,7400,...,0,0,0,0,0,0,0,0,0,0
34944,97422,4,974,Le Tampon,81943,80778,79824,79385,78629,77283,...,0,0,0,0,0,0,0,0,0,0
34945,97423,4,974,Les Trois-Bassins,6899,6953,7015,7076,7139,7111,...,0,0,0,0,0,0,0,0,0,0
34946,97424,4,974,Cilaos,5390,5568,5538,5492,5456,5403,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df.dtypesb

CODGEO      object
REG          int64
DEP         object
LIBGEO      object
PMUN2021     int64
PMUN2020     int64
PMUN2019     int64
PMUN2018     int64
PMUN2017     int64
PMUN2016     int64
PMUN2015     int64
PMUN2014     int64
PMUN2013     int64
PMUN2012     int64
PMUN2011     int64
PMUN2010     int64
PMUN2009     int64
PMUN2008     int64
PMUN2007     int64
PMUN2006     int64
PSDC1999     int64
PSDC1990     int64
PSDC1982     int64
PSDC1975     int64
PSDC1968     int64
PSDC1962     int64
PTOT1954     int64
PTOT1936     int64
PTOT1931     int64
PTOT1926     int64
PTOT1921     int64
PTOT1911     int64
PTOT1906     int64
PTOT1901     int64
PTOT1896     int64
PTOT1891     int64
PTOT1886     int64
PTOT1881     int64
PTOT1876     int64
dtype: object

In [7]:
substrings = ['PMUN', 'PSDC', 'PTOT']
columns_to_convert = [col for col in df.columns if any(sub in col for sub in substrings)]
columns_to_convert

['PMUN2021',
 'PMUN2020',
 'PMUN2019',
 'PMUN2018',
 'PMUN2017',
 'PMUN2016',
 'PMUN2015',
 'PMUN2014',
 'PMUN2013',
 'PMUN2012',
 'PMUN2011',
 'PMUN2010',
 'PMUN2009',
 'PMUN2008',
 'PMUN2007',
 'PMUN2006',
 'PSDC1999',
 'PSDC1990',
 'PSDC1982',
 'PSDC1975',
 'PSDC1968',
 'PSDC1962',
 'PTOT1954',
 'PTOT1936',
 'PTOT1931',
 'PTOT1926',
 'PTOT1921',
 'PTOT1911',
 'PTOT1906',
 'PTOT1901',
 'PTOT1896',
 'PTOT1891',
 'PTOT1886',
 'PTOT1881',
 'PTOT1876']

In [9]:
[col[-4:] for col in columns_to_convert]

['2021',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016',
 '2015',
 '2014',
 '2013',
 '2012',
 '2011',
 '2010',
 '2009',
 '2008',
 '2007',
 '2006',
 '1999',
 '1990',
 '1982',
 '1975',
 '1968',
 '1962',
 '1954',
 '1936',
 '1931',
 '1926',
 '1921',
 '1911',
 '1906',
 '1901',
 '1896',
 '1891',
 '1886',
 '1881',
 '1876']

In [38]:
df.columns = df.columns.str.replace(substrings[0], '').str.replace(substrings[1], '').str.replace(substrings[2], '')
# rename a column
df.rename(columns={'CODGEO': 'codegeo',
                   'REG': 'region',
                   'DEP': 'departement',
                   'LIBGEO': 'nom'}, inplace=True)
df

,codegeo,region,departement,nom,2021,2020,2019,2018,2017,2016,...,1926,1921,1911,1906,1901,1896,1891,1886,1881,1876
0,01001,84,01,L'Abergement-Clémenciat,832,806,779,771,776,767,...,543,566,560,629,637,572,594,622,605,604
1,01002,84,01,L'Abergement-de-Varey,267,262,256,253,248,243,...,253,256,291,323,357,391,421,486,490,484
2,01004,84,01,Ambérieu-en-Bugey,14854,14288,14134,14204,14035,14081,...,5705,4796,4334,4100,4023,3548,3635,3618,3396,3427
3,01005,84,01,Ambérieux-en-Dombes,1897,1782,1751,1720,1689,1671,...,690,698,805,805,835,852,862,882,879,848
4,01006,84,01,Ambléon,113,113,112,112,111,110,...,161,150,159,193,200,206,200,200,213,191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34942,97420,4,974,Sainte-Suzanne,24293,24086,24065,23718,23505,23224,...,0,0,0,0,0,0,0,0,0,0
34943,97421,4,974,Salazie,7243,7310,7136,7224,7312,7400,...,0,0,0,0,0,0,0,0,0,0
34944,97422,4,974,Le Tampon,81943,80778,79824,79385,78629,77283,...,0,0,0,0,0,0,0,0,0,0
34945,97423,4,974,Les Trois-Bassins,6899,6953,7015,7076,7139,7111,...,0,0,0,0,0,0,0,0,0,0
34946,97424,4,974,Cilaos,5390,5568,5538,5492,5456,5403,...,0,0,0,0,0,0,0,0,0,0

In [40]:
df.to_csv('app/pop_historique_extended.csv', index=False)

In [14]:
df = pd.read_csv('app/pop_historique_extended.csv')

/tmp/ipykernel_152056/3303422047.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('app/pop_historique_extended.csv')

In [17]:
timeline_data = df[df['codgeo'] == 59350].T.reset_index()[3:]
nom = timeline_data.iloc[0,1]
timeline_data
# timeline_data = timeline_data[1:]
# timeline_data.columns = ['year','population']
# timeline_data

   index   22129
3    nom   Lille
4   2021  236710
5   2020  236234
6   2019  234475
7   2018  233098
8   2017  232787
9   2016  232440
10  2015  232741
11  2014  233897
12  2013  231491
13  2012  228652
14  2011  227533
15  2010  227560
16  2009  226827
17  2008  225784
18  2007  225789
19  2006  226014
20  1999  212597
21  1990  198691
22  1982  196705
23  1975  219204
24  1968  238554
25  1962  239955
26  1954  236284
27  1936  240747
28  1931  240348
29  1926  236134
30  1921  225603
31  1911  240799
32  1906  225725
33  1901  227090
34  1896  228920
35  1891  211884
36  1886  197963
37  1881  186388
38  1876  169686

In [13]:
nom

'Lille'

In [4]:
import pandas as pd
df = pd.read_csv('app/pop_historique_extended.csv')
df.rename(columns={'codegeo': 'codgeo'}, inplace=True)
df.dtypes
# df.to_csv('app/pop_historique_extended.csv', index=False)

/tmp/ipykernel_152056/3524197031.py:2: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('app/pop_historique_extended.csv')

codgeo         object
region          int64
departement    object
nom            object
2021            int64
2020            int64
2019            int64
2018            int64
2017            int64
2016            int64
2015            int64
2014            int64
2013            int64
2012            int64
2011            int64
2010            int64
2009            int64
2008            int64
2007            int64
2006            int64
1999            int64
1990            int64
1982            int64
1975            int64
1968            int64
1962            int64
1954            int64
1936            int64
1931            int64
1926            int64
1921            int64
1911            int64
1906            int64
1901            int64
1896            int64
1891            int64
1886            int64
1881            int64
1876            int64
dtype: object

In [5]:
dtype_spec = {
    0: str,
    2: str,
}

# Read the CSV file with the specified data types
df = pd.read_csv('app/pop_historique_extended.csv', dtype=dtype_spec)

In [6]:
df.to_csv('app/pop_historique_extended.csv', index=False)

In [19]:
df_historic_population = pd.read_csv('app/pop_historique_extended.csv')

/tmp/ipykernel_152056/651027264.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_historic_population = pd.read_csv('app/pop_historique_extended.csv')

In [ ]:
import pandas as pd

In [ ]:
selected_data = {'points': [{'curveNumber': 0, 'pointNumber': 86, 'pointIndex': 86, 'location': 21882, 'z': 9713, 'customdata': '59090', 'text': 'Bondues'}, {'curveNumber': 0, 'pointNumber': 270, 'pointIndex': 270, 'location': 22066, 'z': 20829, 'customdata': '59279', 'text': 'Halluin'}, {'curveNumber': 0, 'pointNumber': 404, 'pointIndex': 404, 'location': 22200, 'z': 13173, 'customdata': '59421', 'text': 'Mouvaux'}, {'curveNumber': 0, 'pointNumber': 409, 'pointIndex': 409, 'location': 22205, 'z': 10160, 'customdata': '59426', 'text': 'Neuville-en-Ferrain'}, {'curveNumber': 0, 'pointNumber': 490, 'pointIndex': 490, 'location': 22286, 'z': 13784, 'customdata': '59508', 'text': 'Roncq'}, {'curveNumber': 0, 'pointNumber': 578, 'pointIndex': 578, 'location': 22374, 'z': 99011, 'customdata': '59599', 'text': 'Tourcoing'}, {'curveNumber': 0, 'pointNumber': 627, 'pointIndex': 627, 'location': 22423, 'z': 40836, 'customdata': '59650', 'text': 'Wattrelos'}], 'range': {'mapbox': [[3.092961566407922, 50.993701274368846], [3.6148121523453938, 50.688449380779275]]}}

In [ ]:
selected_data.keys()

dict_keys(['points', 'range'])

In [ ]:
selected_data['points']

[{'curveNumber': 0,
  'pointNumber': 86,
  'pointIndex': 86,
  'location': 21882,
  'z': 9713,
  'customdata': '59090',
  'text': 'Bondues'},
 {'curveNumber': 0,
  'pointNumber': 270,
  'pointIndex': 270,
  'location': 22066,
  'z': 20829,
  'customdata': '59279',
  'text': 'Halluin'},
 {'curveNumber': 0,
  'pointNumber': 404,
  'pointIndex': 404,
  'location': 22200,
  'z': 13173,
  'customdata': '59421',
  'text': 'Mouvaux'},
 {'curveNumber': 0,
  'pointNumber': 409,
  'pointIndex': 409,
  'location': 22205,
  'z': 10160,
  'customdata': '59426',
  'text': 'Neuville-en-Ferrain'},
 {'curveNumber': 0,
  'pointNumber': 490,
  'pointIndex': 490,
  'location': 22286,
  'z': 13784,
  'customdata': '59508',
  'text': 'Roncq'},
 {'curveNumber': 0,
  'pointNumber': 578,
  'pointIndex': 578,
  'location': 22374,
  'z': 99011,
  'customdata': '59599',
  'text': 'Tourcoing'},
 {'curveNumber': 0,
  'pointNumber': 627,
  'pointIndex': 627,
  'location': 22423,
  'z': 40836,
  'customdata': '59650',
  'text': 'Wattrelos'}]

In [ ]:
selected_codes = [x['customdata'] for x in selected_data['points']]
selected_codes

['59090', '59279', '59421', '59426', '59508', '59599', '59650']

In [ ]:
from typing import List
import geopandas as gpd
import plotly.graph_objects as go



def plot_historic_population(
    codgeo: str = None,
    codgeo_list: List[str] = None,
) -> go.Figure:
    global df_historic_population
    global filtered_gdf
    
    # check if codgeo is list or not
    if isinstance(codgeo, str):
        codgeo_list = [codgeo]
    
    # Filter and transpose the DataFrame
    df = df_historic_population[df_historic_population['codgeo'].isin(codgeo_list)].T.reset_index()[3:]
    
    # Extract the name of the region or city
    nom = df.iloc[0, 1]
    
    # Clean and rename columns
    df = df[1:]
    df.columns = ['year', 'population']
    
    # Convert 'year' to datetime
    df['year'] = pd.to_datetime(df['year'], format='%Y')
    
    # Sort values by year
    df.sort_values('year', ascending=True, inplace=True)
    
    # Create figure
    fig = go.Figure()
    
    # Add scatter plot with lines and markers
    fig.add_trace(
        go.Scatter(
            x=df['year'],
            y=df['population'],
            mode='lines+markers',
            line_shape='spline',
        )
    )
    
    # Update layout with titles and styling
    fig.update_layout(
        title=dict(
            text=f'{nom}',
            x=.95,
            y=0.95,
            xanchor='right',
            yanchor='top',
        ),
        yaxis_title='Population',
        xaxis=dict(type='date'),
        template='plotly_dark',
        margin={"r":10,"t":30,"l":10,"b":10},
        height=200
    )

    return fig

In [ ]:
df_historic_population = pd.read_csv('app/pop_historique_extended.csv', dtype={0: str, 2: str})
df_historic_population

,codgeo,region,departement,nom,2021,2020,2019,2018,2017,2016,...,1926,1921,1911,1906,1901,1896,1891,1886,1881,1876
0,01001,84,01,L'Abergement-Clémenciat,832,806,779,771,776,767,...,543,566,560,629,637,572,594,622,605,604
1,01002,84,01,L'Abergement-de-Varey,267,262,256,253,248,243,...,253,256,291,323,357,391,421,486,490,484
2,01004,84,01,Ambérieu-en-Bugey,14854,14288,14134,14204,14035,14081,...,5705,4796,4334,4100,4023,3548,3635,3618,3396,3427
3,01005,84,01,Ambérieux-en-Dombes,1897,1782,1751,1720,1689,1671,...,690,698,805,805,835,852,862,882,879,848
4,01006,84,01,Ambléon,113,113,112,112,111,110,...,161,150,159,193,200,206,200,200,213,191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34942,97420,4,974,Sainte-Suzanne,24293,24086,24065,23718,23505,23224,...,0,0,0,0,0,0,0,0,0,0
34943,97421,4,974,Salazie,7243,7310,7136,7224,7312,7400,...,0,0,0,0,0,0,0,0,0,0
34944,97422,4,974,Le Tampon,81943,80778,79824,79385,78629,77283,...,0,0,0,0,0,0,0,0,0,0
34945,97423,4,974,Les Trois-Bassins,6899,6953,7015,7076,7139,7111,...,0,0,0,0,0,0,0,0,0,0
34946,97424,4,974,Cilaos,5390,5568,5538,5492,5456,5403,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
codgeo_list = ['01005', '01006','01001']
df = df_historic_population[df_historic_population['codgeo'].isin(codgeo_list)].T[4:]
df['sum'] = df.sum(axis=1)
df.reset_index(inplace=True)
df.rename(columns={'index':'year'}, inplace=True)
df = df[['year','sum']].sort_values('year', ascending=True).reset_index(drop=True)
df

    year   sum
0   1876  1643
1   1881  1697
2   1886  1704
3   1891  1656
4   1896  1630
5   1901  1672
6   1906  1627
7   1911  1524
8   1921  1414
9   1926  1394
10  1931  1293
11  1936  1240
12  1954  1105
13  1962  1102
14  1968  1082
15  1975  1206
16  1982  1390
17  1990  1811
18  1999  2222
19  2006  2367
20  2007  2473
21  2008  2481
22  2009  2499
23  2010  2516
24  2011  2492
25  2012  2529
26  2013  2510
27  2014  2503
28  2015  2495
29  2016  2548
30  2017  2576
31  2018  2603
32  2019  2642
33  2020  2701
34  2021  2842

In [ ]:
f.columns = f.iloc[0].reset_index(drop=True)
f = f[4:]
f['sum'] = f.sum(axis=1)
f
# rename index to year
f.index.name = 'year'
f.reset_index(inplace=True)
f = f[['year', 'sum']]
f
# drop idnex
f = f.reset_index(drop=True)
f